.container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.label {
    background: rgb(255, 255, 255, 0.7);
    border: solid 2px #000000;
    padding: 1rem;
    border-radius: 20px;
}

.backText {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    margin-top: 2rem;
    color: #000000;
}

.nta {
    margin-left: 2rem;
    margin-right: 2rem;
}


.buttonS {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1rem
}

.button2 {
    color: green;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 7px;
}

label {
    display: block;
    font-weight: normal;
}

.box > div {
    width: 270px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.box {
    float: right;
}

.nta > div {
    margin-bottom: 10px;
    min-width: 100px;
}

.name {
    justify-content: center;
    display: flex;
    align-items: center;
}